@media print {
  body * {
    visibility: hidden;
  }
  .receipt-printable, .receipt-printable * {
    visibility: visible;
  }
  .receipt-printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}